<form [formGroup]="addForm" class="pageContainer" (ngSubmit)="submitForm()">
  <div class="heading">
    <div class="h3 bold">Add Post</div>
    <button type="submit" class="btn btn-primary btn-lg">Publish</button>
  </div>
  <input
    type="text"
    placeholder="Title"
    class="h1 form-control"
    formControlName="title"
  />
  <div>
    <label style="grid-area: b">
      <svg
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        width="72"
        height="72"
        *ngIf="url === undefined"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M7 10V9C7 6.23858 9.23858 4 12 4C14.7614 4 17 6.23858 17 9V10C19.2091 10 21 11.7909 21 14C21 15.4806 20.1956 16.8084 19 17.5M7 10C4.79086 10 3 11.7909 3 14C3 15.4806 3.8044 16.8084 5 17.5M7 10C7.43285 10 7.84965 10.0688 8.24006 10.1959M12 12V21M12 12L15 15M12 12L9 15"
            stroke="var(--primary)"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </g>
      </svg>
      <div class="h5" *ngIf="url === undefined">Upload Image</div>
      <input
        type="file"
        name="pic2"
        (change)="onFileChanged($event, 2)"
        *ngIf="url === undefined"
      />
      <img class="addImage" src="{{ url }}" />
    </label>
    <div class="input-group mb-3">
      <div class="input-group-text">
        <input
          class="form-check-input mt-0"
          type="checkbox"
          value=""
          formControlName="isEditorPick"
        />
      </div>
      <input
        type="text"
        class="form-control"
        readonly="true"
        value="Editor's pick"
      />
    </div>
  </div>
  <ckeditor
    [editor]="Editor"
    [config]="config"
    formControlName="description"
  ></ckeditor>
</form>
