/* @import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"); */

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  transition: all 0.4s !important;
}

:root {
  --primary: #514af3;
  --secondary: #a859fe;
  --green: #75e79e;
  --text: #07070a;
  --white: #fefefe;
  --grey: #f4f4f4;
  --red: #bf4059;
  --gradient: linear-gradient(45deg, #343ff5, #09dbf5);
  --primary50: rgba(81, 74, 243, 0.1);
  --grey60: rgba(244, 244, 244, 0.6);
}

html {
  font-family: "Trap", sans-serif;
  -webkit-text-size-adjust: 100%;
  color: var(--text);
  font-size: 14px;
  line-height: 18px;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  all: unset;
  cursor: pointer;
}

@font-face {
  font-family: Trap;
  src: url(./app/assets/fonts/Trap/Trap-Regular.otf);
}

@font-face {
  font-family: TrapB;
  src: url(./app/assets/fonts/Trap/Trap-SemiBold.otf);
}

@font-face {
  font-family: TrapL;
  src: url(./app/assets/fonts/Trap/Trap-Light.otf);
}

body {
  margin: 0;
}

.h1 {
  font-size: 60px !important;
  line-height: 72px !important;
}

.h2 {
  font-size: 48px;
  line-height: 52px;
}

.h3 {
  font-size: 36px;
  line-height: 42px;
}

.h4 {
  font-size: 30px;
  line-height: 36px;
}

.h5 {
  font-size: 24px;
  line-height: 28px;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
}

.button,
button {
  all: unset;
  padding: 14px 24px 10px 24px;
  cursor: pointer;
  border-radius: 12px;
  text-align: center;
  margin: 0px 12px;
}

.logo {
  text-decoration: none;
}

.bold {
  font-family: TrapB;
}

.light {
  font-family: TrapL;
}

.dalla {
  font-family: Trap;
}

.primary {
  color: var(--primary);
}

.button.primary,
button.primary {
  background: var(--primary);
  color: var(--white);
}

.button:hover,
button:hover {
  border-radius: 4px;
  background: var(--gradient);
}

.smallIcon {
  padding: 12px;
  background-color: var(--grey);
  border-radius: 50%;
  height: 48px;
  cursor: pointer;
}

.dropdownContainer {
  display: grid;
  place-items: center;
  height: 36px;
  padding: 0px 24px;
  border: 1px solid var(--primary);
  border-radius: 8px;
  position: relative;
}

.dropdownOptions {
  max-height: 0px;
  overflow: hidden;
  position: absolute;
  top: 40px;
  padding: 0px;
  border: 1px solid transparent;
  border-radius: 8px;
  display: grid;
  gap: 2px;
  background-color: #faeee6;
  /* font-family: initial; */
  transition: all 0.4s;
  width: 100%;
  z-index: 1;
  left: 0px;
}

.dropdownOptions > * {
  padding: 4px 12px;
  cursor: pointer;
  text-align: center;
}

.dropdownOptions > *:hover {
  background-color: var(--primary);
}

.dropdownContainer:focus .dropdownOptions {
  padding: 12px 0px;
  max-height: 600px;
  border: 1px solid var(--primary);
}

.pageContainer {
  padding: 128px 5% 36px 5%;
  display: grid;
  gap: 24px;
  background: url(./app/assets/bg/01.jpg);
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: cover;
  animation: up 30s alternate infinite;
  min-height: 100vh;
}

.priceOptions > *:nth-child(6) {
  display: none;
}

.text-danger {
  color: var(--red);
}

.redBorder {
  border: 2px solid var(--red) !important;
  border-radius: 12px !important;
}

.smallIcon.active {
  background-color: var(--primary);
}

.redBorder::placeholder {
  content: "This is a required feild";
}

.gradientText {
  background-image: var(--gradient);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"] {
  all: unset;
  border-bottom: 1px solid var(--primary);
  margin-bottom: 1px;
  padding: 8px 0px 4px 0px;
  font-size: 18px;
  line-height: 22px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
  margin-bottom: 0px;
  border-bottom: 2px solid var(--primary);
}

label {
  font-weight: light;
}

.inputContainer {
  display: grid;
}

@keyframes up {
  from {
    background-position-x: 0%;
    background-position-y: 0%;
  }
  to {
    background-position-x: 50%;
    background-position-y: 100%;
  }
}

.articleCard:hover .underline {
  --tw-shadow: inset 0 -0.5em 0 0 var(--primary);
  --tw-shadow-colored: inset 0 -0.5em 0 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.author {
  display: flex;
  justify-content: end;
}

.threeLines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.twoLines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
